body {
    background-color: #FFF; /* White background */
  }

  .navbar-container {
    display: flex;
    padding: 0px 92px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    background-color: #FFF; /* White background */
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }

  .navbar-brand {
    display: flex;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .brand-logo img {
    width: 313.642px;
    height: 83.306px;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .navbar-link {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .navbar-link-text {
    color: #6a6866; /* Black color */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
  }

  .login-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid #2D2C2B; /* Black color */
  }